.progress-bar-1 {
    background-image: url(../assets/progress1.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 81px;
    width: 428px;
}

.progress-bar-2 {
    background-image: url(../assets/progress4.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 81px;
    width: 428px;
}

.progress-bar-3 {
    background-image: url(../assets/progress3.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 81px;
    width: 428px;
}

.progress-bar-4 {
    background-image: url(../assets/progress2.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 81px;
    width: 428px;
}