.none {
    background-image: url(../assets/aug_none.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 111px;
    width: 108px;
}

.butter {
    background-image: url(../assets/aug_butter.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 111px;
    width: 108px;
}

.mail {
    background-image: url(../assets/aug_mail.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 111px;
    width: 108px;
}

.straw {
    background-image: url(../assets/aug_strawhat.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 111px;
    width: 108px;
}

.headphones {
    background-image: url(../assets/aug_eadphones.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 111px;
    width: 108px;
}

.empty {
    background-image: url(../assets/aug-empty.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 111px;
    width: 108px;
}