.up {
    background-image: url(../assets/scroll_up.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 46px;
    width: 46px;
    margin: auto;
}

.down {
    background-image: url(../assets/scroll_down.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 46px;
    width: 46px;
}