.curioso-avatar {
    height: 460px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    &.growlz {
        &.pose-1 {
            background-image: url(../assets/growlz.svg);
            background-repeat: no-repeat;
            background-position: center;
            height: 409px;
            width: 352px;
            z-index: 0;
        }

        &.pose-2 {
            background-image: url(../assets/growlz2.svg);
            background-repeat: no-repeat;
            background-position: center;
            height: 392px;
            width: 341px;
            z-index: 0;
        }
    }
    
    &.rocky {
        
        &.pose-1 {
            background-image: url(../assets/rocky.svg);
            background-repeat: no-repeat;
            background-position: center;
            height: 460px;
            width: 380px;
            z-index: 0;
        }

        &.pose-2 {
            background-image: url(../assets/rocky2.svg);
            background-repeat: no-repeat;
            background-position: center;
            height: 404px;
            width: 375px;
            z-index: 0;
        }
    }
    
    &.wingrat {
        &.pose-1 {
            background-image: url(../assets/wingrat.svg);
            background-repeat: no-repeat;
            background-position: center;
            height: 357px;
            width: 355px;
            z-index: 0;
        }

        &.pose-2 {
            background-image: url(../assets/wingrat2.svg);
            background-repeat: no-repeat;
            background-position: center;
            height: 383px;
            width: 369px;
            z-index: 0;
        }
    }
}